.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  border: 1px solid #68c8ff;
  max-width: 1140px;
  margin: 100px auto;
}

.item {
  border: 1px solid #68c8ff;
  flex: 1;
  /* flex-shrink: 0; */
  color: #1c1c1c;
  text-align: center;
  display: block;
  height: 100%;
  font-size: 16px;
  padding: 8px;
}

.image {
  margin: 0 auto 16px;
}
