.main {
  /* padding-top: 100px; */
  max-width: 1140px;
  margin: auto;
}

.center {
}

.logo {
  display: block;
  margin: 50px auto;
}

.button {
  padding: 8px 16px;
  font-size: 24px;
  background-color: #ff9f68;
  color: #fff;
  display: flex;
  margin: 0 auto;
  width: min-content;
  border-radius: 4px;
}
